@font-face {
  font-family: "LouisGlobal";
  src: url("./assets//fonts/LouisGlobal2-Reg.otf");
  font-weight: 400;
}
@font-face {
  font-family: "LouisGlobal";
  src: url("./assets//fonts/LouisGlobal2-CondensedReg.otf");
  font-weight: 100 300;
}

* {
  margin: 0;
  padding: 0;
  font-family: "LouisGlobal", sans-serif;
}

body {
  background-color: #1a1a1a;
}
